<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-sm-auto">
      <h2>Ejemplo de Componente Angular</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th>Persona</th>
          <th>Cantidad Total de Compras en $</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="person.highAmount ? 'high' : 'normal'" *ngFor="let person of data">
          <td>{{person.name}}</td>
          <td>${{person.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>